# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The '*' pattern is global owners.
#Team or user idenitifed in this file are the codeowners
#any changes to the file types listed below required approval from the codeowner

#.xml files
#user PrincessDem9n owns all the .xml files
*.xml @PrincessDem9n

#.java files
#user PrincessDem9n owns all the .jsp files
*.java @PrincessDem9n

#.class files
#user PrincessDem9n owns all the .jsp files
*.class @PrincessDem9n

